/* Reset CSS */ 
*, ::after, ::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* General styles */ 	
body {
	background-image: linear-gradient(-20deg, #ffffff 0%, #eaf6f6 100%);
	background-repeat: no-repeat;
	height: 100vh;
}

/* .form-check * { */
	/* cursor: pointer; */
/* } */

/* Animations/Effect on card and input */	
.card {
	transition: transform 500ms ease-out;
}
		
.card:hover {
	transform: translateY(-10%);
}
		
.filterbar-input {
	transition: box-shadow 300ms ease-out;
}
		
.filterbar-input:hover {
	box-shadow: 0px 0px 5px #a1a1a1;
}


.app {
	/* Allow scroll for smartphones */
	min-height: 100%;
	
	/* Center the app on tablets */
	max-height: auto;
}

/* Create a blur effect for user focus on the note creation */
.modal {
	backdrop-filter: blur(10px);
}